<h2>Available Bulk Discounts for <%= @merchant.name %></h2>
<ul>
<% @discounts.each do |discount| %>
  <div id="discount-<% discount.id %>">
    <li><%= discount.percent %>% off <%= discount.threshold %> or more items</li>
  </div>
<% end %>